a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}
.tab{ font-family: 'Barlow', sans-serif; }
.tab .nav-tabs{ border: none; }
.tab .nav-tabs li a{
    color: #666;
    background: #fff;
    font-size: 19px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 8px 25px 10px;
    margin: 0 10px 0 0;
    border: none;
    border-top: 3px solid #0670bc;
    border-radius: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) inset;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a:hover{
    color: #fff;
    background: transparent;
    border: none;
    border-top: 3px solid #0670bc;
}
.tab .nav-tabs li a:before,
.tab .nav-tabs li a:after{
    content: "";
    background-color: #0670bc;
    width: 50%;
    height: 100%;
    opacity: 0;
    transform: perspective(300px) rotateX(-100deg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease 0s;
}
.tab .nav-tabs li a:after{
    transform: perspective(300px) rotateX(100deg);
    left: auto;
    right: 0;
    transition: all 0.4s ease 0.1s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:after,
.tab .nav-tabs li a:hover:after{
    opacity: 1;
    transform: perspective(300px) rotateX(0);
}
.tab .tab-content{
    color: #555;
    background: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 20px;
    border-bottom: 4px solid #0670bc;
    box-shadow: 0 0 7px rgba(0,0,0,0.1) inset;
    position: relative;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
    }
    .tab .nav-tabs li a{ margin: 0 0 10px; }
}